.packing-list {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  button {
    font-family: inherit;
    color: #fff;
    background-color: #509af8;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #509af8;
  }

  select {
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    @include themed {
      border: t($t_border);
      color: t($t_color-text-primary);

      &:focus {
        border: t($t_border);
        border-right: none;
      }
    }

    &:focus {
      border: none;
      background: none;
    }
  }

  option {
    @include themed {
      background-color: t($t_color-bg);
    }
  }
}
