.packing-item {
  min-width: 25rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509af8;
  border-radius: 0.8rem;
  box-shadow: 0rem 0rem 0.5rem -0.3rem #111;

  &__checkbox-container {
    margin-right: 0.8rem;
    cursor: pointer;

    @include flexCenter;

    path {
      fill: #fff;
    }

    input {
      display: none;
    }

    svg {
      overflow: visible;
    }

    .path {
      fill: none;
      stroke: white;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
      stroke-dasharray: 241 9999999;
      stroke-dashoffset: 0;
    }

    input:checked ~ svg .path {
      stroke-dasharray: 70.5096664428711 9999999;
      stroke-dashoffset: -262.2723388671875;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
  }

  &__close {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: auto;

    path {
      fill: #fff;
    }
  }
}
